@charset "UTF-8";
body{
	margin: 0px;
	background-color: #e0ffff;
}

.container{
	margin-left: 20px;
	margin-right: 20px;
	
}



.navbar ul{
	list-style-type: none;
	background-color: #2f4f4f;
	pading: 0px;
	margin: 0px;
	overflow: hidden;
}
.navbar a{
	color: white;
	text-decoration: none;
	pading: 15px;
	margin: 5px;
	display: block;
	text-algin: center;
}

.navbar a:hover {
	background-color: #ff7f50;
}

.navbar li{
	float: left;
}